.singleDetailsWrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}

.single_movieContainer {
    max-width: 1360px;
    margin: 0 auto;
    padding: 15px 15px;
}

.singleLeftWrap {
    padding: 15px;
    max-width: 40%;
    width: 100%;
    text-align: center;
}

.singleRightWrap {
    padding: 15px;
    max-width: 60%;
    width: 100%;
}

.singleLeftWrap img {
    max-height: 700px;
    margin: 0 auto;
}

p.singleSomeDetails span {
    padding-right: 30px;
}

p.singleTitleData {
    padding: 15px 0px;
}

h2.titleSignleMovieHd {
    font-size: 36px;
    margin-bottom: 15px;
}


h2.titleSignleMovieHd span {
    font-size: 16px;
    color: #ffe400;
}

ul.genresWrap {
    list-style: none;
    display: flex;
}
ul.genresWrap li {
    padding-right: 15px;
}