@font-face {
  font-family: "PoppinsBold";
  src: url("./assets/fonts/Poppins-Medium.woff2");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.woff2");
}

:root {
  --bg_main: #1c1c1c;
  --all_color: #ffffff;
  --seconday_color: yellow
}
[theme-chnage="light"] {
  --bg_main: #ffffff;
  --all_color: #1c1c1c;
  --seconday_color: #1c1c1c
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg_main);
  color: var(--all_color);
  font-family: "PoppinsSemiBold", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PoppinsBold", sans-serif;
}