@font-face {
  font-family: "PoppinsBold";
  src: url("./assets/fonts/Poppins-Medium.woff2");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.woff2");
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: "PoppinsSemiBold", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PoppinsBold", sans-serif;
}